body {
  background-color: black;
}

.box-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 200px;
  margin: 100px auto;
}

.box {
  width: 100px;
  height: 100px;
  opacity: 0.5;
}
h2 {
  background-color: white;
}
